
page-tabla-partidos {

    .content{
        background-color: #efefef;
    
        .marcador{
        //background-color: #efefef;
            .local{
                text-align: center;
                font-weight: bold;
                margin-top: 10px;
            }
    
            .visitante{
                text-align: center;
                font-weight: bold;
                margin-top: 10px;
            }
    
            .tiempo{
                padding-top: 4em;
                font-weight: bold;
                font-size: 13px;
            }
    
        }

    }
    
    
}
