
page-tabla-partidos {
    .content{
        background-color: #efefef;
    }
    .tiempo{
        padding-top: 50%;
        font-weight: bold;
        font-size: 18px;
    }
    
    .estadisticas{
    .derecha{
    text-align: right;
    }
    }
.marcador{
    //background-color: #efefef;

    .local{
        font-size: 13px;
        text-align: center;
        font-weight: bold;
    }
    .visitante{
        font-size: 13px;
        text-align: center;
        font-weight: bold;
    }
}
}
