<!--
  Generated template for the TablaPartidosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="capota">
    <ion-title>Tabla partidos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content">

  <div padding>
    <ion-segment [(ngModel)]="categoria">
      <ion-segment-button value="Infantil">
        Infantil
      </ion-segment-button>
      <ion-segment-button value="Juvenil">
        Juvenil
      </ion-segment-button>
      <ion-segment-button value="Libre">
        Libre
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="categoria">
    <ion-list *ngSwitchCase="'Infantil'">
      <ion-card class="marcador" *ngFor="let partido of partidos | async">
        <div (click)=" irMarcador()" *ngIf="partido.idLiga == liga && partido.categoria == 'Infantil'">
          <ion-grid>
            <ion-row>
              <ion-card-content col-4>
                <ion-avatar>
                  <img src="{{partido.fotoLocal}}" width="100%" height="115">
                  <h2 class="local">{{partido.nombreLocal}}</h2>
                </ion-avatar>
              </ion-card-content>
              <ion-col col-4>
                <p text-center class="tiempo">{{partido.fecha}}<br>
                  {{partido.hora}}<p>
              </ion-col>
              <ion-card-content col-4>
                <ion-avatar>
                  <img src="{{partido.fotoVisitante}}" width="100%" height="115">
                  <h2 class="visitante">{{partido.nombreVisitante}}</h2>
                </ion-avatar>
              </ion-card-content>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'Juvenil'">
      <ion-card class="marcador" *ngFor="let partido of partidos | async">
        <div (click)="irMarcador()" *ngIf="partido.idLiga == liga && partido.categoria == 'Juvenil'">
          <ion-grid>
            <ion-row>
              <ion-card-content col-4>
                <ion-avatar>
                  <img src="https://a.espncdn.com/i/teamlogos/nba/500/scoreboard/bos.png">
                  <h1 class="local">{{partido.local}}</h1>
                </ion-avatar>
              </ion-card-content>
              <ion-col col-4>
                <p text-center class="tiempo">{{partido.fecha}}<br>
                  {{partido.hora}}<p>
              </ion-col>
              <ion-card-content col-4>
                <ion-avatar>
                  <img src="https://enebea.global.nba.com/media/img/teams/logos/CHI_logo.svg">
                  <h1 class="visitante">{{partido.visitante}}</h1>
                </ion-avatar>
              </ion-card-content>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card>
    </ion-list>
  </div>

</ion-content>