page-registro-usuarios {
    
    .ion-content{
        .Title{
             text-align: center;
             color: #FFFFFF;
        }
        
        background-image: url("http://www.fondox.net/wallpapers/azul-abstracto-2947.jpg");
    }

}
