<ion-header>
    <ion-navbar color="capota">
        <ion-title>Inicio</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding class="ion-content">

    <ion-card *ngFor="let liga of ligas | async">
        <div *ngIf="liga.userID == idLiga" (click)="detallep(liga)">
            <img src="{{liga.foto}}" />
            <ion-card-content>
                <ion-card-title>
                    {{liga.nombreLiga}}
                </ion-card-title>
                <p>
                    {{liga.descripcion}}
                </p>
            </ion-card-content>
        </div>
    </ion-card>

    <div padding>
        <div padding>
            <h2>Top 5 Jugadores</h2>
        </div>

        <ion-list>
            <div *ngFor=" let jugador of jugadores1;  let i=index">
                <ion-item *ngIf="jugador.idLiga == idLiga && i < 6">
                    <ion-thumbnail item-start>
                        <img src={{jugador.foto}}>
                    </ion-thumbnail>
                    <h2>{{jugador.nombre}}</h2>
                    <p>{{jugador.apellidoP}}</p>
                    <button ion-button clear item-end (click)="detalleJugador(jugador)" color="morado">View</button>
                </ion-item>
            </div>

        </ion-list>
    </div>
    <div padding>
        <div padding>
            <h2>Top 5 Equipos</h2>
        </div>
        <ion-list>
            <div *ngFor=" let equipo of equipos1;  let i=index">
            <ion-item *ngIf = "equipo.idLiga == idLiga && i < 6">
                <ion-thumbnail item-start>
                    <img src={{equipo.foto}}>
                </ion-thumbnail>
                <h2>{{equipo.nombreEquipo}}</h2>
                <p>{{equipo.nombreCategoria}}</p>
                <button ion-button clear item-end (click)="detalleEquipo(equipo)" color = "morado">View</button>
            </ion-item>
        </div>
        </ion-list>
    </div>
</ion-content>