<ion-header>
    <ion-navbar color="capota">
        <ion-title>Inicio</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding class="ion-content">
    <div padding>
        <h2>Estadisticas</h2>
    </div>
    <ion-card *ngFor = "let liga of ligas | async" (click)="detallep()">
        <div *ngIf = "liga.userID == idLiga">
            <img src="{{liga.foto}}" />
        <ion-card-content>
            <ion-card-title>
                {{liga.nombreLiga}}
            </ion-card-title>
            <p>
                {{liga.descripcion}}
            </p>
        </ion-card-content>
        </div>
    </ion-card>

    <div padding>
        <div padding>
            <h2>Top 5 Jugadores</h2>
        </div>
        <ion-list>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="http://ssref.net/scripts/image_resize.cgi?min=200&url=https://d2cwpp38twqe55.cloudfront.net/req/201901141/images/players/jordami01.jpg">
                </ion-thumbnail>
                <h2>Michael Jordan</h2>
                <p>Chicago • Bulls</p>
                <button ion-button clear item-end>View</button>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="https://i.pinimg.com/originals/fe/a3/72/fea372c2c449c0c35ab8b20259a9c410.jpg">
                </ion-thumbnail>
                <h2>Larry Bird</h2>
                <p>Boston • Celtics</p>
                <button ion-button clear item-end>View</button>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="http://ssref.net/scripts/image_resize.cgi?min=200&url=https://d2cwpp38twqe55.cloudfront.net/req/201901141/images/players/barklch01.jpg">
                </ion-thumbnail>
                <h2>Charles Barkley</h2>
                <p>Detroit • Pistons</p>
                <button ion-button clear item-end>View</button>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="http://ssref.net/scripts/image_resize.cgi?min=200&url=https://d2cwpp38twqe55.cloudfront.net/req/201901141/images/players/johnsma02.jpg">
                </ion-thumbnail>
                <h2>Magic Jhonson</h2>
                <p>Los Angeles • Lakers</p>
                <button ion-button clear item-end>View</button>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="http://ssref.net/scripts/image_resize.cgi?min=200&url=https://d2cwpp38twqe55.cloudfront.net/req/201901141/images/players/pippesc01.jpg">
                </ion-thumbnail>
                <h2>Scottie Pipen</h2>
                <p>Chicago • Bulls</p>
                <button ion-button clear item-end>View</button>
            </ion-item>
        </ion-list>
    </div>
    <div padding>
        <div padding>
            <h2>Top 5 Equipos</h2>
        </div>
        <ion-list>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/bos.png&h=80&w=80&scale=crop">
                </ion-thumbnail>
                <h2>Celtics</h2>
                <p>Boston</p>
                <button ion-button clear item-end>View</button>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/ny.png&h=80&w=80&scale=crop">
                </ion-thumbnail>
                <h2>Knicks</h2>
                <p>New York</p>
                <button ion-button clear item-end>View</button>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/chi.png&h=80&w=80&scale=crop">
                </ion-thumbnail>
                <h2>Bulls</h2>
                <p>Chicago</p>
                <button ion-button clear item-end>View</button>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/cle.png&h=80&w=80&scale=crop">
                </ion-thumbnail>
                <h2>Cavaliers</h2>
                <p>Cleveland</p>
                <button ion-button clear item-end>View</button>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/det.png&h=80&w=80&scale=crop">
                </ion-thumbnail>
                <h2>Pistons</h2>
                <p>Detroit</p>
                <button ion-button clear item-end>View</button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>