<ion-header>
    <ion-navbar color="capota">
        <ion-title>Inicio</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding class="ion-content">
    <div padding>
        <h2>Estadisticas</h2>
    </div>
    <ion-card *ngFor="let liga of ligas | async">
        <div *ngIf="liga.userID == idLiga" (click)="detallep(liga)">
            <img src="{{liga.foto}}" />
            <ion-card-content>
                <ion-card-title>
                    {{liga.nombreLiga}}
                </ion-card-title>
                <p>
                    {{liga.descripcion}}
                </p>
            </ion-card-content>
        </div>
    </ion-card>

    <div padding>
        <div padding>
            <h2>Top 5 Jugadores</h2>
        </div>

        <ion-list>
            <ion-item *ngFor=" let jugador of jugadores1;  let i=index">
                <ion-thumbnail item-start>
                    <img src={{jugador.foto}}>
                </ion-thumbnail>
                <h2>{{jugador.nombre}}</h2>
                <p>{{jugador.apellidoP}}</p>
                <button ion-button clear item-end (click)=detalleJugador(jugador) >View</button>
            </ion-item>

        </ion-list>
    </div>
    <div padding>
        <div padding>
            <h2>Top 5 Equipos</h2>
        </div>
        <ion-list>
            <ion-item *ngFor=" let equipo of equipos1;  let i=index">
                <ion-thumbnail item-start>
                    <img src={{equipo.foto}}>
                </ion-thumbnail>
                <h2>{{equipo.nombreEquipo}}</h2>
                <p>{{equipo.nombreCategoria}}</p>
                <button ion-button clear item-end (click)=detalleEquipo(equipo)>View</button>
            </ion-item>
            
        </ion-list>
    </div>
</ion-content>