page-marcador {

    .content{
        background-color: #efefef;
    }

    .tiempo{
        padding-top: 50%;
    }

    .estadisticas{

        width: 100%;

        .derecha{
            text-align: right;
        }
    }

    .white{
        background-color: white;
    }
}
