page-marcador {
    .tiempo{
        padding-top: 50%;
    }
.estadisticas{
.derecha{
text-align: right;
}
}
.marcador{
    .local{
        text-align: center;
    }
    .visitante{
        text-align: center;
    }
}
}
